{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}


    <div class="logo"><p>My Parser</p>

    </div>

    <div class="main" style="">
    <table class="table" style="border: none">
        <thead>
        <tr>
            <th scope="col">Servise</th>
            <th scope="col">People Parse</th>
            <th scope="col">Image Parse</th>
            <th scope="col">All Parsing</th>
            <th scope="col">Status</th>
            <th scope="col"> <a style="text-decoration: none; color: #0c4a6e" href="{{ path('admin') }}">Admin Panel  <i class="fas fa-angle-double-right"></i></a></th>
        </tr>
        </thead>
            <th>
                <img  itemprop="image" src="https://sweet.tv/images/v2/logo_sweettv.svg" alt="sweet.tv" width="100" height="40">
            </th>
            <td><button type="button" class="btn btn-primary"><i class="fas fa-download"></i></button></td>
            <td><button type="button" class="btn btn-primary"><i class="fas fa-download"></i></button></td>
            <td>
                <a style="text-decoration: none" href="{{ path('sweetTv_film_parse') }}">
                <button type="button" class="btn btn-primary"><i class="fas fa-download"></i></button>
                </a>
            </td>
            {% if sweetTvTask.status == 2 %}
            <td>{{ sweetTvTask.descriptionStatus }}</td>
            {% elseif sweetTvTask.status == 1 %}
                <td>
                    <a style="text-decoration: none" href="{{ path('sweetTv_film_parse_stop') }}">
                        <button type="button" class="btn btn-danger">Stop Parser</button>
                    </a>
                </td>

                {% elseif sweetTvTask.status == 0 %}
                    <td>STATUS NOT WORK</td>
            {% endif %}
            <td>

            </td>
        </tr>

    </table>
    </div>
{% endblock %}